<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Todo Application</title>
</head>
<body>
<h1>Add More Students ?</h1>

<div>
    <form method="post" action="$WebPath.getADD()" >
        <input type="text" class=form-control" name="nim" placeholder="Nim" required autofocus>
        <input type="text" class=form-control" name="fullname" placeholder="Name" required>
        <input type="text" class=form-control" name="address" placeholder="Address" required>
        <button type="submit" class="btn btn-primary"> <i data-feather="plus"></i> add</button>
    </form>
</div>
<script src="https://unpkg.com/feather-icons"></script>
<script>feather.replace()</script>

</body>
</html>